# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
**/next-env.d.ts

dcm_examples/big_dicom/



3d_dicom_software_for_students_streamlit/venv


*.pyc

3d_dicom_software_for_students_streamlit/streamlit/.cache

3d_dicom_software_for_students_streamlit/streamlit/src/frontend/components/custom_canvas/frontend/dist/
